<%- include('partials/header') %>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/viewPost">Other Posts<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/viewAllPost">All post</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/myPost">Your posts</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        
      </ul>
    </div>
  </nav>



<link rel="stylesheet" href="/post.css">


<h1 style="background-color: aliceblue; text-align: center;">Add things for donation here</h1>

<form method="post" action="/addPost" enctype="multipart/form-data">
    <div class="postInformation">
        <div class="row">
            <div class="col">
                <input type="text" name="title" placeholder="Title" class="text" required>
            </div>
            <div class="col radioButtons">
                <input type="text" name="Locations" placeholder="Location" class="text" required>
            </div>
        </div>
    
        <br><br><br>
        <div class="row">
            <div class="col">
                <h1>Add one image of your product</h1>
                <input type="file" name="file" id="file" required>
            </div>
            <div class="col radioButtons">
                <h1>Type:</h1>
                <input type="radio" id="Electronic equipment" name="fav" value="Electronic equipment">
                <label for="html">Electronic equipment</label><br>
    
                <input type="radio" id="Clothes" name="fav" value="Clothes">
                <label for="css">Clothes</label><br>
    
                <input type="radio" id="food" name="fav" value="Food">
                <label for= "food">Food</label><br>
    
                <input type="radio" id="furniture" name="fav" value="Furniture">
                <label for="furniture">Furniture</label><br>
    
                <input type="radio" id="other" name="fav" value="other">
                <label for="other">Other</label>
            </div>
        </div>

        <button type="submit" id="btn" class="btn btn-secondary">Post</button><br><br>
    </div>

    




</form>


<%- include('partials/footer') %>