.left{
    padding-left: 20%;

}
.right{
    text-align: left;
}
.contact{
    display: inline-block;
    background-color: aqua;
    border-radius: 8px;
}
p{
    font-size: 1.5rem;
}

img{
    width: 50%;
}

.info{
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}

.info-1{
    display: inline-block;
    width: 60%;
    border: 3px solid #ad2134;
    padding: 10px;
}